
<!DOCTYPE HTML>
<html>
<head>
    <script src="..\wwwroot\lib\bootstrap\dist\js\bootstrap.js"></script>
    <link href="..\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel=" stylesheet" >

    <link rel="stylesheet" href=" ourSite.css">
    <title>Media</title>
</head>
<body>
    
    <h1 align=center> Media </h1>
    <div class=" container-fluid">
        <div class=" row">
    <p>
        <div class="col-sm-4">
        <img src="..\HTML Activity - Resources/Media/Media-Definition of done.jpg" />
        Picture
        </div>
            <div class="col-sm-4">
            <img src="..\HTML Activity - Resources/Media/Media-Code Review.jpg" class="center" />
            </div>
                <div class="col-sm-4">
                <img src="..\HTML Activity - Resources/Media/Media-Hallway.jpg" class="right" />
                </div>
        </div>
</p>
            <div class= "row">
    <p>
        <div class="col-sm-4">
        <img src="..\HTML Activity - Resources/Media/Media-Project Management.jpg" />
        </div>
        <div class= "col-sm-4 offset-sm-3">
            <img src="..\HTML Activity - Resources/Media/Media-Sprint Review.jpg" center" />
            </div>
            <img src="..\HTML Activity - Resources/Media/Media-Sprint review-code demo.jpg" class="right" />
    </p>


</div>
            </div>
    <button><a href=".\codetheway.html"> Home </a></button>
</body>
</html>

