<!DOCTYPE html>
<html>
<head>
    <title>Media</title>
    <link href=".\OurSite.css" rel="stylesheet" />
    <script src=".\OurSite.js"></script>


</head>
<body>
    <h1 align="center">Media</h1>
    <div>
    <button onclick="showHide('mImage1')">Get Rid of first image</button>
        </div>
    <div>
    <img src="../HTML Activity - Resources/Media/Media-Team Programming.jpg" width="20%" id="mImage1"/>
        </div>
    <img src="../HTML Activity - Resources/Media/Media-Code Review.jpg" width="20%" />
    <img src="../HTML Activity - Resources/Media/Media-Definition of done.jpg" width="20%" />
    <br />
    <img src="../HTML Activity - Resources/Media/Media-Hallway.jpg" width="20%" />
    <img src="../HTML Activity - Resources/Media/Media-Project Management.jpg" width="20%" />
    <img src="../HTML Activity - Resources/Media/Media-Sprint Planning.jpg" width="20%" />
    <button onclick="document.location='\codeTheWay.html'">Home</button>


</body>
</html>