<!DOCTYPE HTML>
<html>
<head>
    <link href="..\ourSite.css" rel="stylesheet" />
    <title>Media</title>
</head>
<body>
    <h2 align="Center">Media</h2>
    <p>
        <img src="..\HTML Activity - Resources\Media\Media-Team Programming.jpg"/>
        <img src="..\HTML Activity - Resources\Media\Media-Code Review.jpg"/>
        <img src="..\HTML Activity - Resources\Media\Media-Definition of done.jpg" width="300px" height="150px"/>
    </p>
    <p>
        <img src="..\HTML Activity - Resources\Media\Media-Hallway.jpg" width="220px" height="200px"/>
        <img src="..\HTML Activity - Resources\Media\Media-Sprint review-code demo.jpg" width="280px" height="150px"/>
        <img src="..\HTML Activity - Resources\Media\Media-Sprint Planning.jpg" width="300px" height="150px"/>
    </p>
</body>

</html>