
<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href=" ourSite.css">
    <title>Media</title>
</head>
<body>
    <h1 align=center> Media </h1>
    <p>
        <img src="..\HTML Activity - Resources/Media/Media-Definition of done.jpg" />
        <img src="..\HTML Activity - Resources/Media/Media-Code Review.jpg" class="center" />
        <img src="..\HTML Activity - Resources/Media/Media-Hallway.jpg" class="right" />
    </p>
    <p>
        <img src="..\HTML Activity - Resources/Media/Media-Project Management.jpg" />
        <img src="..\HTML Activity - Resources/Media/Media-Sprint Review.jpg" center" />
        <img src="..\HTML Activity - Resources/Media/Media-Sprint review-code demo.jpg" class="right" />
    </p>
















    <button><a href=".\codetheway.html"> Home </a></button>
</body>
</html>

