body{
    background-color: hotpink;
}

h1 {
    color: yellow;
    font-family: 'Comic Sans MS';
}

h3 {
    color: yellow;
    font-family: 'Comic Sans MS';
}
p {
    color: yellow;
    font-family: 'Comic Sans MS';
}

ul {
    color: yellow;
    font-family: 'Comic Sans MS';
}

button {
    color: white;
    background-color: blue;
    font-family: 'Comic Sans MS';

}
a{
    color: white;
}

#link{
    color: blue;
}
#left {
    margin-left: 5;
    color: white;
}
#left {
    margin-left: 10;
    color: white;
}
#left {
    margin-left: 15;
    color: white;
}