
body {
    background-color: plum;
    color: yellow;
    font-family:'Comic Sans MS'
}
button{
    color:brown;
    background-color:cadetblue;
    font-family:Wingdings;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
