body{
    background-color: hotpink;
}

h1 {
    color: yellow;
}

h3 {
    color: yellow;
}
p{
    color: yellow;
}

ul{
    color: yellow;
}

button{
    color: yellow;
    background-color: hotpink;
}
